.form-wrapper {
  display: flex;
  justify-content: center;

  margin-top: 60px; /* отступ сверху */
}

.form-table {
  flex-direction: column;
  gap: 12px;
  padding: 20px; /* чтобы контент не прилипал к краям */

  background-color: #cfe4fa;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  max-width: 90%;
}
